html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
p{
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

ul{
  padding: 0;
}
body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  @extend %rb-regular;
  font-size: 15px;
}
button:focus {
  outline: 0;
}
.page__section {
  position: relative;
  height: 100vh;
  padding: 72px 0 50px;
}
.page__section-half {
  position: relative;
  height: 60vh;
  padding: 45px 0 0;
}
.page__section-onehalf {
  position: relative;
  height: 150vh;
  padding: 45px 0 0;

}
.container {
  margin: 0 auto;
  max-width: 1118px;
}

.title {
  @extend %rb-bold;
  font-size: 18px;
  line-height: 21px;
}

.section-header {
  text-align: center;
  max-width: 470px;
  margin:0 auto;

}
.section__header-title{
  @extend %rb-bold;
  font-size: 24px;
  line-height: 28px;

}

.section__header-subtext{
  @extend %rb-regular;
  font-size: 15px;
  line-height: 18px;
  padding-top: 15px;

}

/* BUTTONS */

.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 14px 40px;
  @extend %rb-bold;
  margin-right: 15px;

}
.white-btn {
  background-color: #fffafa;
 
}

.white-btn:hover {
  background-color: $global-red;
  color: #ffffff;
}
.btn:active {
  transform: translateY(4px);
}

.red-btn {
  background-color: $global-red;
  color: #ffffff;
}
.red-btn:hover {
  background-color: $global-red;
  color: #ffffff;
}