@media screen and (min-width: 1200px) {
    .page__section-onehalf {
        
        height: 100vh;
       
      }

    .fourth{
     
        height: 70vh;

    }
    .fifth {
        height: 70vh;

    }
    .sixth{
        height: 70vh;

    }
    .footer{
        height: 40vh;
    }
  }