%rb-regular {
    font-family: 'Roboto-Regular';
    font-weight: 400;
}

%rb-bold {
    font-family: 'Roboto-Bold';
    font-weight: bold;
}

%rb-Medium {
    font-family: 'Roboto-Medium';
    font-weight: 500;
}

$global-red: #E70C0C;


