@import "vars";
@import "global";
@import "fonts";

.header {
  position: fixed;
  left: 0px;
  top: 32px;
  right: 0px;
  z-index: 10;
  transition: background .5s;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
  }
  &__try-button {
    background-color: #ffffff;
    color: #000000;
    border-radius: 11px;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  &__try-button:hover {
    background-color: $global-red;
    color: #ffffff;
  }
  &__try-button:active {
    transform: translateY(4px);
  }
}
.header{
  background-color: transparent;
}
.menu {
  
  &__list-item {
    display: inline-block;
    color: white;
    & + .menu__list-item {
      padding-left: 27px;
    }
  }
  &__list-link {
    transition-duration: 0.4s;
  }

  &__list-link:hover {
    text-decoration: underline;
  }
}

.top {
  padding-top: 152px;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inner-container {
    max-width: 783px;
  }
  &__logo {
    text-align: center;
  }
  &__title {
    @extend %rb-bold;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
  }
  &__sub-title {
    @extend %rb-regular;
    padding-top: 24px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  &__buttons {
    text-align: center;
    padding-top: 50px;
  }
}


/* SECOND SECTION  */



.second {
  background-color: #ECECEC;
  
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    border-top: 12px solid black;
    padding: 36px 20px 54px;
    max-width: 333px;
    margin: auto;
    text-align: center;
    transition: 0.3s;
  }
  &__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  &__card-title {
    @extend %rb-bold;
    font-size: 18px;
    line-height: 21px;
    padding-top: 19px;
  }
  &__card-text {
    @extend %rb-regular;
    font-size: 15px;
    line-height: 18px;
    padding-top: 19px;
  }
  &__card-href {

     padding-top: 36px;
  }
  &__crd-href {

    color: $global-red;
  }
  &__crd-href:hover {

  text-decoration: underline;
  }
}
/* THIRD SECTION */
.third{
  &__info-card{
     display: flex;
     justify-content: space-between;
     padding-top: 70px;
    
  }
  &__info-text{
    max-width: 457px;
    padding-top: 20px;  
    padding-left: 30px;
    vertical-align: middle;
   
  }
  &__info-text2{
    max-width: 457px;
    padding-top: 50px;  
   
    vertical-align: middle;
   
  }
  &__info-text-title{
    @extend %rb-bold;
    color: $global-red;
    font-size: 18px;
    line-height: 21px;

  }
  &__info-text-text {
    @extend %rb-regular;
    padding-top: 20px;


  }
  &__info-picture {
    padding-right: 50px;
  }
  &__info-picture2 {
    padding-left: 30px;
  }
}


/* FOURTH SECTION */

.fourth {
  padding: 30px 0 50px;
  &__cards-container{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    
  }
   &__card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    border-top: 12px solid black;
    padding: 10px 0px 30px;
    max-width: 333px;
    width: 330px;
    margin: auto;
    text-align: center;
    transition: 0.3s;
  }
  &__card-plantitle{
    padding-top: 20px;
    @extend %rb-bold;
    font-size: 30px;
    line-height: 35px;

  }
  &__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  &__price-benefits{

    padding-top: 35px;
  }
  &__price-ben-item + .fourth__price-ben-item {
    padding-top: 16px;
  }
  &__btns {
    padding-top: 30px;
  }
}



/* FIFTH SECTION */


.fifth{
  padding: 20px 0 50px;
 /* background: linear-gradient(0deg, white 50%, black 50%); */
  &__text {
    color: white;
    padding-top: 10px;
  }
  &__accardion-faq{
    padding-top: 20px;
  }
  &__blackside{
    background-color: black;
    height: 60%;
  }
  &__accardion-faq{
    max-width: 500px;
    margin: auto;
  }
  &__accordion label{
    display:block;
    background-color: black;
    padding: 10px;
    color: white;

    cursor: pointer;
     border: 1px solid  white;
  }
  &__accordion p{
    color: #424242;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
    visibility: hidden;
    opacity: 0;
    display: none;
    text-align: left;
    color: #fff;
    margin-top: 0px;
  }
  #fifth__tm:checked ~ .fifth__accordion-hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  

input#fifth__tm{
  display: none;
  position: relative;
}

#fifth__tn:checked ~ .fifth__accordion-hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;

}

input#fifth__tn{
  display: none;
  position: relative;
}

#fifth__to:checked ~ .fifth__accordion-hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#fifth__to{
  display: none;
  position: relative;
}
 &__acca-plus {
  float: right;
}
&__accordion-hiddentext{

  @extend %rb-regular;
}
}


@import "media";



