@import "vars";
@import "global";
@import "fonts";
@import "main_page_calendar/style"; /* IMPORT main page files */

.header {
  position: fixed;
  left: 0px;
  top: 32px;
  right: 0px;
  z-index: 10;
  transition: background 0.5s;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
  }
  &__try-button {
    background-color: #ffffff;
    color: #000000;
    border-radius: 11px;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  &__try-button:hover {
    background-color: $global-red;
    color: #ffffff;
  }
  &__try-button:active {
    transform: translateY(4px);
  }
}
.header {
  background-color: transparent;
}
.menu {
  &__list-item {
    display: inline-block;
    color: white;
    & + .menu__list-item {
      padding-left: 27px;
    }
  }
  &__list-link {
    transition-duration: 0.4s;
  }

  &__list-link:hover {
    text-decoration: underline;
  }
}

.top {
  padding-top: 152px;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inner-container {
    max-width: 783px;
  }
  &__logo {
    text-align: center;
  }
  &__title {
    @extend %rb-bold;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
  }
  &__sub-title {
    @extend %rb-regular;
    padding-top: 24px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  &__buttons {
    text-align: center;
    padding-top: 50px;
  }
}

/* SECOND SECTION  */

.second {
  background-color: #ececec;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    border-top: 12px solid black;
    padding: 36px 20px 54px;
    max-width: 333px;
    margin: auto;
    text-align: center;
    transition: 0.3s;
  }
  &__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  &__card-title {
    @extend %rb-bold;
    font-size: 18px;
    line-height: 21px;
    padding-top: 19px;
  }
  &__card-text {
    @extend %rb-regular;
    font-size: 15px;
    line-height: 18px;
    padding-top: 19px;
  }
  &__card-href {
    padding-top: 36px;
  }
  &__crd-href {
    color: $global-red;
  }
  &__crd-href:hover {
    text-decoration: underline;
  }
}
/* THIRD SECTION */
.third {
  &__info-card {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }
  &__info-text {
    max-width: 457px;
    padding-top: 20px;
    padding-left: 30px;
    vertical-align: middle;
  }
  &__info-text2 {
    max-width: 457px;
    padding-top: 50px;

    vertical-align: middle;
  }
  &__info-text-title {
    @extend %rb-bold;
    color: $global-red;
    font-size: 18px;
    line-height: 21px;
  }
  &__info-text-text {
    @extend %rb-regular;
    padding-top: 20px;
  }
  &__info-picture {
    padding-right: 50px;
  }
  &__info-picture2 {
    padding-left: 30px;
  }
  &__info-picture3 {
    padding-right: 140px;
  }
}

/* FOURTH SECTION */

.fourth {
  padding: 30px 0 50px;
  &__cards-container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }
  &__card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    border-top: 12px solid black;
    padding: 10px 0px 30px;
    max-width: 333px;
    width: 330px;
    margin: auto;
    text-align: center;
    transition: 0.3s;
  }
  &__card-plantitle {
    padding-top: 20px;
    @extend %rb-bold;
    font-size: 30px;
    line-height: 35px;
  }
  &__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  &__price-benefits {
    padding-top: 35px;
  }
  &__price-ben-item + .fourth__price-ben-item {
    padding-top: 16px;
  }
  &__btns {
    padding-top: 30px;
  }
}

/* FIFTH SECTION */

.fifth {
  padding: 20px 0 50px;
  /* background: linear-gradient(0deg, white 50%, black 50%); */
  &__text {
    color: white;
    padding-top: 10px;
  }
  &__accardion-faq {
    padding-top: 20px;
  }
  &__blackside {
    background-color: black;
    height: 60%;
  }
  &__accardion-faq {
    max-width: 500px;
    margin: auto;
  }
  &__accordion label {
    display: block;
    background-color: black;
    padding: 10px;
    color: white;

    cursor: pointer;
    border: 1px solid white;
  }
  &__accordion p {
    color: #424242;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
    visibility: hidden;
    opacity: 0;
    display: none;
    text-align: left;
    color: #fff;
    margin-top: 0px;
  }
  #fifth__tm:checked ~ .fifth__accordion-hiddentext {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  input#fifth__tm {
    display: none;
    position: relative;
  }

  #fifth__tn:checked ~ .fifth__accordion-hiddentext {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  input#fifth__tn {
    display: none;
    position: relative;
  }

  #fifth__to:checked ~ .fifth__accordion-hiddentext {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  input#fifth__to {
    display: none;
    position: relative;
  }
  &__acca-plus {
    float: right;
  }
  &__accordion-hiddentext {
    @extend %rb-regular;
  }
  /* DARK SIDE */

  &__white-header {
    padding-top: 20px;
  }
  &_w_spon-row_1 {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &_w_spon-row_1 img {
    filter: grayscale(100%);
  }
  &_w_spon-row_2 {
    display: flex;
    justify-content: space-around;
  }
  &_w_spon-row_2 img {
    filter: grayscale(100%);
  }
}

/*     SIXTH SECTION */

.sixth {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ffffff;
  padding-top: 30px;
  &__text {
    padding-top: 10px;
  }
  &__main-img {
    text-align: center;
  }
  &__main-button {
    text-align: center;
    padding-top: 70px;
  }
}

/* FOOTER */
.footer {
  &__main {
    background-color: #eeeeee;
    height: 90%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  &__column_1 {
    max-width: 240px;
  }
  &_1cl_text {
    padding-top: 20px;
    @extend %rb-regular;
    color: #312D2D;
  }
  &__title {
    @extend %rb-Medium;
    font-size: 18px;
    line-height: 21px;
  }

  &__list-links {
    padding-top: 20px;
    color: #312D2D;
  }
  &__l_links-item + .footer__l_links-item {
    padding-top: 20px;

  }
  /* FO0TER END */
  &__end{
    background-color: #D7D7D7;
    height: 10%;
  }
  &__end-inner{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  &__end_copyright{
     color: #312D2D;
  }
  &__end_right_ul{
    display: flex;
   
    color: #312D2D;
  }
  &__end_r_item + .footer__end_r_item{
    
    padding-left: 40px;
  }

}

@import "media";
