.calendar_container {
  display: grid;
  grid-template-columns:  auto auto auto auto auto auto auto;
  grid-template-rows: 80px auto auto auto auto auto;
  grid-gap: 20px;

  padding: 10px;
}

.calendar {
  &__weekday {
    background-color: $global-blue-regular;
    text-align: center;
    color: #fff;
    padding: 45px 45px;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  &__weekday:hover{
   transform: translateY(4px);
   background-color: $global-blue-reg-hover;
  }
  &__weekday-weekend:hover{
    background-color: $global-blue-weekend-hover;
    transform: translateY(4px);
 
   }
  &__weekday-name{
    text-align: center;
    color: rgba(3, 112, 214, 0.2);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 45px 45px;
    font-size: 16px;
    @extend %rb-bold;
}
  &__weekday-weekend {
    background-color: $global-blue-weekend;
    text-align: center;
    color: #fff;
    padding: 45px 45px;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

}

.today {
    border: 4px solid black;
}
